@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
* {
    padding: 0;
    margin: 0;
}


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800 */

.teachers-test {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --detail-color: #784ba0;
    --detail-color-hover: #f77b75;
    --white: #fffcfc;
    --black: rgb(23, 22, 22);
}

body {
    background-color: var(--white);
    font-family: "Teachers", sans-serif;
    max-height: 100vh;
    color: var(--primary-color)!important;

}

h1 {
    font-size: 40px;
    color: var(--white);
}

h2 {
    font-size: 35px;
    color: var(--white);
}

.container {
    margin: 6px auto;
    max-width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
   
    color: var(--black);
    gap: 20px;

    @media (min-width: 1024px) {
        margin: 20px auto;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     }
}

.welcoming-box {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    border-radius: 6px;
    padding: 8px 12px;
}

.voting-box {
   /*  border: 1px red solid; */
}

.voting-container  {
    display: flex;
    flex-direction: column;

    background-color: var(--white);
   color: var(--black);
    border-radius: 6px;
   
}

.final-results  {
    display: flex;
    flex-direction: column;
}

.voting-row {
    display: flex;
    flex-direction: column;
    border: 1px green solid;
    min-height: 200px;
    gap: 15px;
}

.here {
    border: 1px orange solid;
}

label {
    font-size: 20px;
    color: var(--detail-color);
    font-weight: 600;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.vote-item {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.vote-item p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.points-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    background-color: #784ba0;
    color: var(--white);
    border-radius: 6px;
    padding: 8px 12px;
}

.sum {
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px var(--white) solid;
    color: var(--white);
    font-size: 25px;
}

.pagination-buttons {
    display: flex;
    flex-direction: row;
    gap:20px;
}
#previous-button, #next-button {
    border: 1px solid var(--white);
    padding: 10px 12px;
    background-color: var(--black);
    font-size: 25px;
    border-radius: 6px;
    font-family: "Teachers", sans-serif;
    transition: all 0.3s ease;
    color: var(--white);
}

#previous-button:hover, #next-button:hover {
    border: 1px solid var(--black);
    color: var(--black);
    background-color: transparent;
   
}

input[type="number"] {
    width: 100%;
    padding: 12px;
  /*   border-radius: 6px; */
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

